@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
    padding: 0;
}

body {
    background: silver;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
}

h2, h3 , li , p {
    margin: 30px 0px;
}

ol {
    margin: 30px 30px;
}

img {
    max-width: 50%;
}

li {
    cursor: pointer;
}
